extends welcome.pug

block content
  h1 My Products
  if message
    h2= message
  ul
  each prod in userProducts
    li= prod.name
    li= prod.description
    li Price: $#{prod.price}
    li Quantity: #{prod.quantity}
    a(class='delete' href="/productDelete/"+prod.id) Delete
    

  script(src="https://code.jquery.com/jquery-3.2.1.min.js"
              integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
              crossorigin="anonymous")
  
  script
    include ../client/myProducts.js