extends index.pug

block content

  h1 This is the order page
    select#pay
      each val in payments
        option(value=val.number) #{val.name}ending in#{val.account}

    p #{products}<br />
  script(src="https://code.jquery.com/jquery-3.2.1.min.js"
              integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
              crossorigin="anonymous")
  script
    include ../client/orderClient.js
